* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
{
body {
  font-family: 'Poppins', sans-serif;
  background-color: #B0D4F1; /* Biru muda */
  color: #2C3E50; /* Biru gelap */
  margin: 0;
  padding: 0;
}
