* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
{
body {
  font-family: 'Poppins', sans-serif;
  background-color: #B0D4F1; /* Biru muda */
  color: #2C3E50; /* Biru gelap */
  margin: 0;
  padding: 0;
}
header {
  background-color: #003366; /* Biru tua */
  color: #B0D4F1; /* Warna teks */
  text-align: center;
  padding: 40px 20px;
  font-size: 2.2em;
  font-weight: bold; /* Menambah ketebalan teks */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
