* {
    box-sizing: border-box;
    margin: 3;
    padding: 3;
    font-family: poppins, arial,sans-serif;
}

input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
input:hover {
    background-color: #f9f9f9;
}

body {
    background: linear-gradient(135deg, #f0f0f0, #ddd);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    weight: 40px;
    background-color: #f0f0f0;
}
input::placeholder {
    color: #aaa;
    font-style: italic;
}

.login-container {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: right;
    justify-content: center;
}

h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    color: #333;
    border:solid #000 ;
}

form {
    display: flex;
    flex-direction: column;
    border-radius
}

label {
    text-align: right;
    margin-bottom: 8px;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.05);
}

button:hover {
    background-color: #45a049;
    color:red;
}
