* {
    box-sizing: border-box;
    margin: 3;
    padding: 3;
    font-family: poppins, arial,sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: right;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: right;
    margin-bottom: 8px;
    color: #fff;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
    color:red;
}
